

.home-page{
border-radius: 10px;
display: flex;
position:sticky;
width: 100%;
height: 1000px;
justify-content: center;
margin-top: 7%;
}

#welcome{
    display:flex;
    position:absolute;
    
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-color: black;
    width: 50%;
    height: 50px;
    padding-top: 30px;
    z-index: 100;
}

.city-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;

    background-color: #3e2723;
    padding: 10px;
    border-radius: 10px;
    opacity: 88%;
    

    margin-top: 100px;
    position:absolute;
    width:50%;

}

.city-container > div{
    background-color: #80cbc3d9;
    border: 1px solid rgba(255, 255, 255, 0.835);
    padding: 40px;
    font-size: 30px;
    text-align:center;
}
.city1, .city6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#home-photo{
    border-radius: 10px;
position:absolute;
opacity: 80%;
height: 700px;
width: 150vh;
justify-content: center;
align-items: center;
}

